node_modules
dist
.env

# database volume
db_*

# cache & config
.npm
cache/
.cache
.temp
.vscode
.eslintcache
.idea
.DS_STORE
.yarn/cache

# logs
*.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# tests
coverage/
lib-cov
*.lcov
.nyc_output
.vscode-test